@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0 auto;
  /*margin-left: auto;*/
  /*margin-Right: auto;*/
  max-width: 1200px;
/*{ marginLeft: '5%', marginRight: '5%' }*/
  font-family: 'Helvetica', 'Arial', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}


.fa-play:before  {
  position: relative;
  left: -2px
}

